# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/
ENV/
.conda/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs only
logs/
*.log

# Dataset folders: keep datasets out of GitHub
data/

# Large raw audio/data archives
*.wav
*.flac
*.mp3
*.mp4
*.avi
*.mkv
*.zip
*.tar
*.tar.gz
*.tgz
*.7z
*.rar

# Optional temporary files
*.tmp
*.bak